node_modules/
**/node_modules/
packages/*/node_modules/
.DS_Store
.turbo/
dist/
**/dist/
coverage/

.expo/
**/.expo/
web-build/
expo-env.d.ts
*.tsbuildinfo
.metro-health-check*

.env*.local
*.orig.*

apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/
apps/mobile/node_modules/
apps/mobile/.vscode/
apps/mobile/ios/
apps/mobile/android/
